.RepoByContributors {
    background-color: #e8f7de;
    border: 2px solid lightblue;
    width: 48%;
    padding-bottom: 5px;
    min-height: 100px;
    margin-top: 25px;
}

.RepoByContributors .Header {
    border-bottom: 2px solid lightblue;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: green;
}

.RepoByContributors .Result {
	line-height: 20px;
	padding-left: 6px;
}