.TopInternalContributors {
    background-color: #e8f7de;
    border: 2px solid lightblue;
    float: right;
    min-height: 100px;
    padding-bottom: 5px;
    width: 48%;
}

.TopInternalContributors .Header {
    border-bottom: 2px solid lightblue;
    color: green;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.TopInternalContributors .Result {
  line-height: 20px;
  padding-left: 6px;
}